In [1]:
import eikon as ek
import pandas as pd
import datetime as dt
import logging
from matplotlib import pyplot as plt
import seaborn as sns

In [7]:
# Get the list of ticker symbols for the SNP500 index constituents
snp500 = ek.get_data('0#.SPX', 'TR.IndexConstituentRIC')[0].set_index('Constituent RIC')
snp500

                Instrument
Constituent RIC
POOL.OQ            POOL.OQ
CHRW.OQ            CHRW.OQ
AJG.N                AJG.N
CNP.N                CNP.N
AMCR.N              AMCR.N
...                    ...
SCHW.N              SCHW.N
DXC.N                DXC.N
SNPS.OQ            SNPS.OQ
J.N                    J.N
AVY.N                AVY.N

[503 rows x 1 columns]

In [8]:
# Set the timeout limit to 10000 seconds
options = {'timeout': 10000}

# Get the data for each SNP500 constituent
data = pd.DataFrame()
for symbol in snp500.index:
#     print(symbol)
    try:
        result = ek.get_data(symbol, fields=[
        'TR.CommonName','TR.TRBCEconomicSector', 'TR.BetaFiveYear', 'TR.TRESGScore(Period=FY0,Frq=FY,SDate=0,EDate=-4)',
        'TR.RevenueActValue(Period=FY0,Frq=FY,SDate=0,EDate=-4,Scale=6,Curn=Native)', 'TR.F.OpProfBefNonRecurIncExpn(SDate=0,EDate=-4,Period=FY0,Frq=FY,Curn=Native,Scale=6,ReportingState=Orig)', 'TR.TRESGCScore(Frq=FY,SDate=0,EDate=-4,Period=FY0)',
        'TR.F.MktCap(Frq=FY,SDate=0,EDate=-4,Period=FY0,Scale=6)',
        'TR.TotalDebtToEBITDA(Frq=FY,SDate=0,EDate=-4)',
        'TR.F.TotCurrAssets(SDate=0,EDate=-4,Frq=FY,Period=FY0,Scale=6)',
        'TR.F.TotCurrLiab(SDate=0,EDate=-4,Frq=FY,Period=FY0,Scale=6)',
        'TR.PtoCPXMeanEst(SDate=0,EDate=-4,Period=FY0,Frq=FY)',
        'TR.F.CAPEXTot(SDate=0,EDate=-4,Scale=6,Frq=FY,Period=FY0)',
        'TR.F.IncTaxRatePct(Period=FY0,Frq=FY,SDate=0,EDate=-4)',
        'TR.RevenueMean(SDate=0,EDate=-4,Period=FY0,Frq=FY,Scale=6)',
        'TR.F.WkgCap(SDate=0,EDate=-4,Scale=6,Period=FY0,Frq=FY)'
        'TR.ROCEActValue(SDate=0,EDate=-4,Period=FY0,Frq=FY)',
        'TR.F.WkgCapPctTotRev(SDate=0,EDate=-4,Period=FY0,Frq=CY)',
        'TR.F.NetDebttoTotCap(Period=FY0,Frq=FY,SDate=0,EDate=-4)'])
        
        result_df = pd.concat(result, axis = 1)
        data= pd.concat([data, result_df], axis = 0)
        print(data)
    except Exception as e:
        print(f"Error getting data for {symbol}: {e}")
        traceback.print_exc()
        pass

  Instrument  Return On Capital Employed - Actual  Net Debt to Total Capital
0    POOL.OQ                                 <NA>                    0.51152
1    POOL.OQ                               33.399                    0.51404
2    POOL.OQ                                37.49                    0.36181
3    POOL.OQ                               31.239                     0.5239
4    POOL.OQ                                 <NA>                     0.7305
  Instrument  Return On Capital Employed - Actual  Net Debt to Total Capital
0    POOL.OQ                                 <NA>                    0.51152
1    POOL.OQ                               33.399                    0.51404
2    POOL.OQ                                37.49                    0.36181
3    POOL.OQ                               31.239                     0.5239
4    POOL.OQ                                 <NA>                     0.7305
0    CHRW.OQ                               26.199                     0.5421
1    CHRW.OQ                                29.23                     0.4367
2    CHRW.OQ                                20.37                    0.30631
3    CHRW.OQ                                25.61                    0.29009
4    CHRW.OQ                                30.46                    0.34937
  Instrument  Return On Capital Employed - Actual  Net Debt to Total Capital
0    POOL.OQ                                 <NA>                    0.51152
1    POOL.OQ                               33.399                    0.51404
2    POOL.OQ                                37.49                    0.36181
3    POOL.OQ                               31.239                     0.5239
4    POOL.OQ                                 <NA>                     0.7305
0    CHRW.OQ                               26.199                     0.5421
1    CHRW.OQ                                29.23                     0.4367
2    CHRW.OQ                                20.37                    0.30631
3    CHRW.OQ                                25.61                    0.29009
4    CHRW.OQ                                30.46                    0.34937
0      AJG.N                                 <NA>                    0.35128
1      AJG.N                                 <NA>                     0.3962
2      AJG.N                                 <NA>                    0.36002
3      AJG.N                                 <NA>                    0.40743
4      AJG.N                                 <NA>                    0.36713
  Instrument  Return On Capital Employed - Actual  Net Debt to Total Capital
0    POOL.OQ                                 <NA>                    0.51152
1    POOL.OQ                               33.399                    0.51404
2    POOL.OQ                                37.49                    0.36181
3    POOL.OQ                               31.239                     0.5239
4    POOL.OQ                                 <NA>                     0.7305
0    CHRW.OQ                               26.199                     0.5421
1    CHRW.OQ                                29.23                     0.4367
2    CHRW.OQ                                20.37                    0.30631
3    CHRW.OQ                                25.61                    0.29009
4    CHRW.OQ                                30.46                    0.34937
0      AJG.N                                 <NA>                    0.35128
1      AJG.N                                 <NA>                     0.3962
2      AJG.N                                 <NA>                    0.36002
3      AJG.N                                 <NA>                    0.40743
4      AJG.N                                 <NA>                    0.36713
0      CNP.N                                 5.18                    0.60495
1      CNP.N                                10.55                    0.56564
2      CNP.N                                 4.54                    0.57013
3      CNP.N                                 4.83                    0.59857
4      CNP.N                                 4.36                    0.25508
  Instrument  Return On Capital Employed - Actual  Net Debt to Total Capital
0    POOL.OQ                                 <NA>                    0.51152
1    POOL.OQ                               33.399                    0.51404
2    POOL.OQ                                37.49                    0.36181
3    POOL.OQ                               31.239                     0.5239
4    POOL.OQ                                 <NA>                     0.7305
0    CHRW.OQ                               26.199                     0.5421
1    CHRW.OQ                                29.23                     0.4367
2    CHRW.OQ                                20.37                    0.30631
3    CHRW.OQ                                25.61                    0.29009
4    CHRW.OQ                                30.46                    0.34937
0      AJG.N                                 <NA>                    0.35128
1      AJG.N                                 <NA>                     0.3962
2      AJG.N                                 <NA>                    0.36002
3      AJG.N                                 <NA>                    0.40743
4      AJG.N                                 <NA>                    0.36713
0      CNP.N                                 5.18                    0.60495
1      CNP.N                                10.55                    0.56564
2      CNP.N                                 4.54                    0.57013
3      CNP.N                                 4.83                    0.59857
4      CNP.N                                 4.36                    0.25508
0     AMCR.N                                 13.8                    0.53758
1     AMCR.N                                11.17                    0.48956
2     AMCR.N                                10.64                    0.50286
3     AMCR.N                                 <NA>                    0.46711
4     AMCR.N                                 <NA>                    0.76258
  Instrument  Return On Capital Employed - Actual  Net Debt to Total Capital
0    POOL.OQ                                 <NA>                    0.51152
1    POOL.OQ                               33.399                    0.51404
2    POOL.OQ                                37.49                    0.36181
3    POOL.OQ                               31.239                     0.5239
4    POOL.OQ                                 <NA>                     0.7305
0    CHRW.OQ                               26.199                     0.5421
1    CHRW.OQ                                29.23                     0.4367
2    CHRW.OQ                                20.37                    0.30631
3    CHRW.OQ                                25.61                    0.29009
4    CHRW.OQ                                30.46                    0.34937
0      AJG.N                                 <NA>                    0.35128
1      AJG.N                                 <NA>                     0.3962
2      AJG.N                                 <NA>                    0.36002
3      AJG.N                                 <NA>                    0.40743
4      AJG.N                                 <NA>                    0.36713
0      CNP.N                                 5.18                    0.60495
1      CNP.N                                10.55                    0.56564
2      CNP.N                                 4.54                    0.57013
3      CNP.N                                 4.83                    0.59857
4      CNP.N                                 4.36                    0.25508
0     AMCR.N                                 13.8                    0.53758
1     AMCR.N                                11.17                    0.48956
2     AMCR.N                                10.64                    0.50286
3     AMCR.N                                 <NA>                    0.46711
4     AMCR.N                                 <NA>                    0.76258
0       WM.N                                12.88                    0.66976
1       WM.N                                 <NA>                    0.64717
2       WM.N                                10.27                    0.62345
3       WM.N                                11.42                    0.48313
4       WM.N                                 <NA>                    0.61127
  Instrument  Return On Capital Employed - Actual  Net Debt to Total Capital
0    POOL.OQ                                 <NA>                    0.51152
1    POOL.OQ                               33.399                    0.51404
2    POOL.OQ                                37.49                    0.36181
3    POOL.OQ                               31.239                     0.5239
4    POOL.OQ                                 <NA>                     0.7305
0    CHRW.OQ                               26.199                     0.5421
1    CHRW.OQ                                29.23                     0.4367
2    CHRW.OQ                                20.37                    0.30631
3    CHRW.OQ                                25.61                    0.29009
4    CHRW.OQ                                30.46                    0.34937
0      AJG.N                                 <NA>                    0.35128
1      AJG.N                                 <NA>                     0.3962
2      AJG.N                                 <NA>                    0.36002
3      AJG.N                                 <NA>                    0.40743
4      AJG.N                                 <NA>                    0.36713
0      CNP.N                                 5.18                    0.60495
1      CNP.N                                10.55                    0.56564
2      CNP.N                                 4.54                    0.57013
3      CNP.N                                 4.83                    0.59857
4      CNP.N                                 4.36                    0.25508
0     AMCR.N                                 13.8                    0.53758
1     AMCR.N                                11.17                    0.48956
2     AMCR.N                                10.64                    0.50286
3     AMCR.N                                 <NA>                    0.46711
4     AMCR.N                                 <NA>                    0.76258
0       WM.N                                12.88                    0.66976
1       WM.N                                 <NA>                    0.64717
2       WM.N                                10.27                    0.62345
3       WM.N                                11.42                    0.48313
4       WM.N                                 <NA>                    0.61127
0       BA.N                                -9.97                    0.96666
1       BA.N                                 -7.2                    0.96768
2       BA.N                               -21.82                    0.83486
3       BA.N                                -9.34                    0.90896
4       BA.N                                 29.8                    0.37055
  Instrument  Return On Capital Employed - Actual  Net Debt to Total Capital
0    POOL.OQ                                 <NA>                    0.51152
1    POOL.OQ                               33.399                    0.51404
2    POOL.OQ                                37.49                    0.36181
3    POOL.OQ                               31.239                     0.5239
4    POOL.OQ                                 <NA>                     0.7305
0    CHRW.OQ                               26.199                     0.5421
1    CHRW.OQ                                29.23                     0.4367
2    CHRW.OQ                                20.37                    0.30631
3    CHRW.OQ                                25.61                    0.29009
4    CHRW.OQ                                30.46                    0.34937
0      AJG.N                                 <NA>                    0.35128
1      AJG.N                                 <NA>                     0.3962
2      AJG.N                                 <NA>                    0.36002
3      AJG.N                                 <NA>                    0.40743
4      AJG.N                                 <NA>                    0.36713
0      CNP.N                                 5.18                    0.60495
1      CNP.N                                10.55                    0.56564
2      CNP.N                                 4.54                    0.57013
3      CNP.N                                 4.83                    0.59857
4      CNP.N                                 4.36                    0.25508
0     AMCR.N                                 13.8                    0.53758
1     AMCR.N                                11.17                    0.48956
2     AMCR.N                                10.64                    0.50286
3     AMCR.N                                 <NA>                    0.46711
4     AMCR.N                                 <NA>                    0.76258
0       WM.N                                12.88                    0.66976
1       WM.N                                 <NA>                    0.64717
2       WM.N                                10.27                    0.62345
3       WM.N                                11.42                    0.48313
4       WM.N                                 <NA>                    0.61127
0       BA.N                                -9.97                    0.96666
1       BA.N                                 -7.2                    0.96768
2       BA.N                               -21.82                    0.83486
3       BA.N                                -9.34                    0.90896
4       BA.N                                 29.8                    0.37055
0     FOX.OQ                               12.939                    0.10688
1     FOX.OQ                                10.85                    0.10679
2     FOX.OQ                                 9.79                    0.17977
3     FOX.OQ                                19.69                    0.20813
4     FOX.OQ                                 <NA>                   -0.25332
  Instrument  Return On Capital Employed - Actual  Net Debt to Total Capital
0    POOL.OQ                                 <NA>                    0.51152
1    POOL.OQ                               33.399                    0.51404
2    POOL.OQ                                37.49                    0.36181
3    POOL.OQ                               31.239                     0.5239
4    POOL.OQ                                 <NA>                     0.7305
0    CHRW.OQ                               26.199                     0.5421
1    CHRW.OQ                                29.23                     0.4367
2    CHRW.OQ                                20.37                    0.30631
3    CHRW.OQ                                25.61                    0.29009
4    CHRW.OQ                                30.46                    0.34937
0      AJG.N                                 <NA>                    0.35128
1      AJG.N                                 <NA>                     0.3962
2      AJG.N                                 <NA>                    0.36002
3      AJG.N                                 <NA>                    0.40743
4      AJG.N                                 <NA>                    0.36713
0      CNP.N                                 5.18                    0.60495
1      CNP.N                                10.55                    0.56564
2      CNP.N                                 4.54                    0.57013
3      CNP.N                                 4.83                    0.59857
4      CNP.N                                 4.36                    0.25508
0     AMCR.N                                 13.8                    0.53758
1     AMCR.N                                11.17                    0.48956
2     AMCR.N                                10.64                    0.50286
3     AMCR.N                                 <NA>                    0.46711
4     AMCR.N                                 <NA>                    0.76258
0       WM.N                                12.88                    0.66976
1       WM.N                                 <NA>                    0.64717
2       WM.N                                10.27                    0.62345
3       WM.N                                11.42                    0.48313
4       WM.N                                 <NA>                    0.61127
0       BA.N                                -9.97                    0.96666
1       BA.N                                 -7.2                    0.96768
2       BA.N                               -21.82                    0.83486
3       BA.N                                -9.34                    0.90896
4       BA.N                                 29.8                    0.37055
0     FOX.OQ                               12.939                    0.10688
1     FOX.OQ                                10.85                    0.10679
2     FOX.OQ                                 9.79                    0.17977
3     FOX.OQ                                19.69                    0.20813
4     FOX.OQ                                 <NA>                   -0.25332
0      LIN.N                               12.509                    0.21042
1      LIN.N                                10.56                    0.19085
2      LIN.N                                 7.78                    0.18863
3      LIN.N                                 7.08                    0.17161
4      LIN.N                                 3.19                     0.1496
  Instrument  Return On Capital Employed - Actual  Net Debt to Total Capital
0    POOL.OQ                                 <NA>                    0.51152
1    POOL.OQ                               33.399                    0.51404
2    POOL.OQ                                37.49                    0.36181
3    POOL.OQ                               31.239                     0.5239
4    POOL.OQ                                 <NA>                     0.7305
0    CHRW.OQ                               26.199                     0.5421
1    CHRW.OQ                                29.23                     0.4367
2    CHRW.OQ                                20.37                    0.30631
3    CHRW.OQ                                25.61                    0.29009
4    CHRW.OQ                                30.46                    0.34937
0      AJG.N                                 <NA>                    0.35128
1      AJG.N                                 <NA>                     0.3962
2      AJG.N                                 <NA>                    0.36002
3      AJG.N                                 <NA>                    0.40743
4      AJG.N                                 <NA>                    0.36713
0      CNP.N                                 5.18                    0.60495
1      CNP.N                                10.55                    0.56564
2      CNP.N                                 4.54                    0.57013
3      CNP.N                                 4.83                    0.59857
4      CNP.N                                 4.36                    0.25508
0     AMCR.N                                 13.8                    0.53758
1     AMCR.N                                11.17                    0.48956
2     AMCR.N                                10.64                    0.50286
3     AMCR.N                                 <NA>                    0.46711

In [9]:
# data.to_csv('Data.csv')